In [5]:
import pymysql
from config.DatabaseConfig import * # DB 접속 정보 불러오기

DB_HOST = "localhost"
DB_USER = "myuser118"
DB_PASSWORD = "1234"
DB_NAME = "mydb118"

def DatabaseConfig():
    global DB_HOST, DB_USER, DB_PASSWORD, DB_NAME

db = None
try:
    db = pymysql.connect(
        host=DB_HOST,
        user=DB_USER,
        passwd=DB_PASSWORD,
        db=DB_NAME,
        charset='utf8'
    )

    # 테이블 생성 sql 정의
#     sql = '''
#       CREATE TABLE IF NOT EXISTS `product_cafe` (
#       `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
#       `name` VARCHAR(45) NULL,
#       `price` INT NOT NULL,
#       `detail` VARCHAR(500) NULL,
#       `image` VARCHAR(200) NULL,
#       `latte` INT NOT NULL,
#       `coffee` INT NOT NULL,
#       `drink` INT NOT NULL,
#       `food` INT NOT NULL,
#       `recommend` INT NOT NULL,
#       PRIMARY KEY (`id`))
#     ENGINE = InnoDB DEFAULT CHARSET=utf8
#     '''
    
        # 테이블 생성 sql 정의
#     sql = '''
#       CREATE TABLE IF NOT EXISTS `user_cafe` (
#       `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
#       PRIMARY KEY (`id`))
#     ENGINE = InnoDB DEFAULT CHARSET=utf8
#     '''

#     sql = '''
#       CREATE TABLE IF NOT EXISTS `order_detail` (
#       `id` INT UNSIGNED NOT NULL UNIQUE,
#       `order_date` DATETIME DEFAULT CURRENT_TIMESTAMP,
#       `user_id` INT UNSIGNED,
#       FOREIGN KEY (`user_id`) REFERENCES `user_cafe`(`id`) ON UPDATE CASCADE,
#       PRIMARY KEY (`id`))
#     ENGINE = InnoDB DEFAULT CHARSET=utf8
#     '''
    
#     sql = '''
#         CREATE TABLE IF NOT EXISTS `price_option` (
#         `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
#         `price` INT NOT NULL,
#         PRIMARY KEY (`id`))
#         ENGINE = InnoDB DEFAULT CHARSET=utf8
#     '''
    
#     sql = '''
#         CREATE TABLE IF NOT EXISTS `product_option` (
#         `id` INT UNSIGNED NOT NULL UNIQUE,
#         `option_id` INT UNSIGNED,
#         `product_id` INT UNSIGNED,
#         PRIMARY KEY (`id`),
#         FOREIGN KEY(`option_id`) REFERENCES `price_option`(`id`) ON UPDATE CASCADE,
#         FOREIGN KEY(`product_id`) REFERENCES `product_cafe`(`id`) ON UPDATE CASCADE)
#         ENGINE = InnoDB DEFAULT CHARSET=utf8
#     '''
    
#     sql = '''
#           CREATE TABLE IF NOT EXISTS `cart_item` (
#           `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
#           `count` INT NOT NULL,
#           `product_id` INT UNSIGNED,
#           `option_id` INT UNSIGNED,
#           `user_id` INT UNSIGNED,
#           PRIMARY KEY (`id`),
#           FOREIGN KEY (`product_id`) REFERENCES `product_cafe`(`id`) ON UPDATE CASCADE,
#           FOREIGN KEY (`option_id`) REFERENCES `product_option`(`id`) ON UPDATE CASCADE,
#           FOREIGN KEY (`user_id`) REFERENCES `user_cafe`(`id`) ON UPDATE CASCADE)
#         ENGINE = InnoDB DEFAULT CHARSET=utf8
#         ''' 

#     sql = '''
#           CREATE TABLE IF NOT EXISTS `order_item` (
#           `id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
#           `order_id` INT UNSIGNED,
#           `product_id` INT UNSIGNED,
#           `option_id` INT UNSIGNED,
#           `count` INT NOT NULL,
#           PRIMARY KEY (`id`),
#           FOREIGN KEY (`order_id`) REFERENCES `order_detail`(`id`) ON UPDATE CASCADE,
#           FOREIGN KEY (`product_id`) REFERENCES `product_cafe`(`id`) ON UPDATE CASCADE,
#           FOREIGN KEY (`option_id`) REFERENCES `product_option`(`id`) ON UPDATE CASCADE)
#         ENGINE = InnoDB DEFAULT CHARSET=utf8
#         '''

    # 테이블 생성
    with db.cursor() as cursor:
        cursor.execute(sql)

except Exception as e:
    print(e)

finally:
    if db is not None:
        db.close()

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('product.xlsx')
df

,name,price,detail,image,Latte,coffee,drink,food,recommend
0,갈릭 치즈 브레드,4600,풍부한 갈릭버터스프레드와 조화를 이룬 진한 체다치즈에 바삭한 갈릭칩을 얹어 촉촉한 ...,IMG_1566780567234.png,0,0,0,1,0
1,고구마 라떼,4000,호박고구마를 활용하여 달콤하고 고소한 고구마의 풍미가 진하게 느껴지는 음료,IMG_1647322145592.png,1,0,0,0,3
2,고구마 말랭이,3000,어떤 첨가물도 사용하지 않은 고구마 그대로의 맛,IMG_1535034350410.png,0,0,0,1,0
3,골드키위주스,3600,고급 골드키위를 사용하여 비타민 C가 풍부하고 상큼한 음료,IMG_1647324243707.png,0,0,1,0,0
4,그린루이보스,3600,복숭아 한 조각을 베어 문 잔향이 입안에 남는 맑은 수색의 루이보스 티,IMG_1647324593188.png,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
179,화이트 초콜릿,2300,화이트 초콜렛 위에 곁들여진 휘핑크림의 달콤함과 부드러움이 단연 돋보이는 음료,IMG_1647321721558.png,0,0,1,0,0
180,화이트 초콜릿 모카,4500,화이트 초콜렛과 에스프레소의 조화로운 만남에 달콤한 휘핑크림까지 함께 즐길 수 있는 음료,IMG_1647321357192.png,0,1,0,0,0
181,화이트초코 마카다미아 쿠키,2000,마카다미아 넛의 고소함과 화이트초콜렛의 달콤함이 조화를 이루는 쿠키. 이디야만의 반...,IMG_1641946096782.png,0,0,0,1,0
182,흑당 라떼,4300,진하고 달콤한 흑당과 고소한 우유가 어우러진 논커피 음료,IMG_1647322029671.png,1,0,0,0,3
183,흑당 콜드브루,4300,이디야의 밸런스 잡힌 콜드브루에 진하고 달콤한 흑당과 고소한 우유가 어우러진 커피음료,IMG_1647320749119.png,0,1,0,0,0

In [8]:
import pymysql
import openpyxl

from config.DatabaseConfig import * # DB 접속 정보 불러오기

In [9]:
# 학습 데이터 초기화
def all_clear_train_data(db):
    # 기존 학습 데이터 삭제
    sql = '''
            delete from price_option
        '''
    with db.cursor() as cursor:
        cursor.execute(sql)

    # auto increment 초기화
    sql = '''
    ALTER TABLE price_option AUTO_INCREMENT=1
    '''
    with db.cursor() as cursor:
        cursor.execute(sql)


# db에 데이터 저장
def insert_data(db, xls_row):
    price, = xls_row

    sql = f'INSERT price_option(price) values({price.value})'

    # 엑셀에서 불러온 cell에 데이터가 없는 경우, null 로 치환
    sql = sql.replace("'None'", "null")

    with db.cursor() as cursor:
        cursor.execute(sql)
        db.commit()

In [10]:
train_file = r'product.xlsx'
db = None
try:
    db = pymysql.connect(
        host=DB_HOST,
        user=DB_USER,
        passwd=DB_PASSWORD,
        db=DB_NAME,
        charset='utf8'
    )

    # 기존 학습 데이터 초기화
    all_clear_train_data(db)

    # 학습 엑셀 파일 불러오기
    wb = openpyxl.load_workbook(train_file)
    sheet = wb['option']
    for row in sheet.iter_rows(min_row=2): # 해더는 불러오지 않음
        # 데이터 저장
        insert_data(db,row)

    wb.close()

except Exception as e:
    print(e)

finally:
    if db is not None:
        db.close()